Source: subreg2abraflexi
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils
Standards-Version: 4.5.1
Homepage: https://github.com/Spoje-NET/subreg2abraflexi
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/subreg2abraflexi.git
#Vcs-Browser: https://salsa.debian.org/debian/subreg2abraflexi

Package: subreg2abraflexi
Architecture: any
Multi-Arch: foreign
Depends: composer-debian, php-spojenet-abraflexi, php-spojenet-subreg
Description: Import Subreg Pricelist into AbraFlexi 

Package: multiflexi-subreg2abraflexi
Architecture: all
Multi-Arch: foreign
Depends: subreg2abraflexi, multiflexi
Description: Add subreg2abraflexi into MultiFlexi
 Application Definition for MultiFlexi
