#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/subreg2abraflexi/g'   debian/subreg2abraflexi/usr/lib/subreg2abraflexi/*.php
	sed -i -e 's/\.\.\/.env//g'  debian/subreg2abraflexi/usr/lib/subreg2abraflexi/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/subreg2abraflexi/usr/lib/subreg2abraflexi/composer.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/subreg_to_abraflexi.multiflexi.app.json |sponge debian/multiflexi-subreg2abraflexi/usr/lib/subreg2abraflexi/multiflexi/subreg_to_abraflexi.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/subreg_credit_check.multiflexi.app.json |sponge debian/multiflexi-subreg2abraflexi/usr/lib/subreg2abraflexi/multiflexi/subreg_credit_check.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/subreg_user_report.multiflexi.app.json |sponge debian/multiflexi-subreg2abraflexi/usr/lib/subreg2abraflexi/multiflexi/subreg_user_report.multiflexi.app.json
